.cardSection{
    &_heading{
        margin-bottom: 32px;
        h1{
            font-size: 32px;line-height: 1.2;color: color(800);
            font-family: $fontFamily;max-width: 1060px;margin: 0 auto 36px;text-align: center;
        }
        p{
            font-size: 20px;line-height: 1.5;font-weight: 500;color: color(300);
        }
    }
    &_box{
        padding: 24px 16px 40px;border-radius: 15px;background-color: #f3f0eb;
        img{
            margin-bottom: 18px;
        }
        h3{
            font-size: 24px;line-height: 1.5;font-weight: 600;margin-bottom: 8px;
        }
        p{
            font-size: 16px;line-height: 1.5;font-weight: 400;margin-bottom: 0;
        }
    }
} 

@include media-breakpoint-down(xxl) {
    .cardSection{
        &_heading{
            h1{  font-size: 28px;margin-bottom: 30px;}
            p{ font-size: 18px;}
        }
        &_box{
            padding: 20px 16px 30px; 
            img{
                margin-bottom: 15px;
            }
            h3{ font-size: 22px;}
            p{ font-size: 15px;}
        }
    }
}
@include media-breakpoint-down(lg) {
    .cardSection{
        &_heading{
            h1{ font-size: 24px;margin-bottom: 20px;} 
            p{font-size: 16px;line-height: 1.25;}
        }
        &_box{
            padding: 15px 15px 20px;
            h3{ font-size: 20px;} 
            p{ font-size: 14px;}
        }
    }
}
@include media-breakpoint-down(sm) {
    .cardSection{
        &_heading{
            h1{ font-size: 22px;margin-bottom: 20px;} 
            p{font-size: 15px;}
        }
        &_box{
            img{
                margin-bottom: 10px;
            }
            h3{
                font-size: 18px;
            }
        }
    }
}